cadastro
<form action="/salvar" method="POST">
    <label>hotmail</label>
    <input type="text" name="email">
    <label>nome</label>
    <input type="text" name="nome">
    <label>senha</label>
    <input type="text" name="senha">
    <button type="submit" value="Enviar">Enviar</button>
</form>