<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,400,400italic,500,500italic,700,700italic"
        rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>

<body>

    <header class="header">
        <h1><%= dados.nome %></h1>
        <div class="flex-center">
            <div class="circle"></div>
            <div class="menu">
                <i class="material-icons">menu</i>
            </div>
        </div>
    </header>

    <div class="wrapper">

        <div class="prev" onclick="action(false)">
            <i class="material-icons">
                keyboard_arrow_left
            </i>
        </div>

        <div class="next" onclick="action(true)">
            <i class="material-icons">
                keyboard_arrow_right
            </i>
        </div>

        <div class="page">

            <section class="cardapio-header">
                <h1>Cardápio</h1>
                <h2>Segunda <%= dados.dia %>/03</h2>
            </section>

            <section class="content">

                <div class="prato">
                    <h1>Prato Principal</h1>
                </div>

                <div class="prato">
                    <span>Guarnição</h1>

                        <select class="select-prato">
                            <% for(var i =0;i< dados.pratoPrincipal.length; i++ ){ %>
                            <option value="a"><%= dados.pratoPrincipal[i] %></option>
                            <% }%>
                        </select>
                </div>

                <div class="prato">
                    <span>Guarnição</span>
                </div>
                <div class="prato">
                    <span>Batata</span>
                </div>

                <div class="prato">
                    <span>Salada I</span>
                </div>
                <div class="prato">
                    <span>Batata</span>
                </div>

                <div class="prato">
                    <span>Salada II</span>
                </div>
                <div class="prato">
                    <span>Batata</span>
                </div>

                <div class="prato">
                    <span>Sobremesa</span>
                </div>
                <div class="prato">
                    <span>Batata</span>
                </div>

            </section>

            <footer>

                <button>SALVAR</button>

                <div class="cancelar">
                    <input type="checkbox" />
                    <span>Cancelar almoço</span>
                </div>

            </footer>

        </div>

        <div class="page">

            <section class="cardapio-header">
                <h1>Cardápio</h1>
                <h2>Segunda 19/03</h2>
            </section>

            <section class="content">

                <div class="prato">
                    <h1>Prato Principal</h1>
                </div>
                <div class="prato">
                    <span>Guarnição</h1>

                        <select class="select-prato">
                            <option value="a">das</option>
                            <option value="a">das</option>
                            <option value="a">das</option>
                        </select>
                </div>

                <div class="prato">
                    <span>Guarnição</span>
                </div>
                <div class="prato">
                    <span>Batata</span>
                </div>

                <div class="prato">
                    <span>Salada I</span>
                </div>
                <div class="prato">
                    <span>Batata</span>
                </div>

                <div class="prato">
                    <span>Salada II</span>
                </div>
                <div class="prato">
                    <span>Batata</span>
                </div>

                <div class="prato">
                    <span>Sobremesa</span>
                </div>
                <div class="prato">
                    <span>Batata</span>
                </div>

            </section>

            <footer>

                <button>SALVAR</button>

                <div class="cancelar">
                    <input type="checkbox" />
                    <span>Cancelar almoço</span>
                </div>

            </footer>


        </div>

        <div class="page">

            <section class="cardapio-header">
                <h1>Cardápio</h1>
                <h2>Segunda 20/03</h2>
            </section>

            <section class="content">

                <div class="prato">
                    <h1>Prato Principal</h1>
                </div>
                <div class="prato">
                    <span>Guarnição</h1>

                        <select class="select-prato">
                            <option value="a">das</option>
                            <option value="a">das</option>
                            <option value="a">das</option>
                        </select>
                </div>

                <div class="prato">
                    <span>Guarnição</span>
                </div>
                <div class="prato">
                    <span>Batata</span>
                </div>

                <div class="prato">
                    <span>Salada I</span>
                </div>
                <div class="prato">
                    <span>Batata</span>
                </div>

                <div class="prato">
                    <span>Salada II</span>
                </div>
                <div class="prato">
                    <span>Batata</span>
                </div>

                <div class="prato">
                    <span>Sobremesa</span>
                </div>
                <div class="prato">
                    <span>Batata</span>
                </div>

            </section>

            <footer>

                <button>SALVAR</button>

                <div class="cancelar">
                    <input type="checkbox" />
                    <span>Cancelar almoço</span>
                </div>

            </footer>


        </div>

        <div class="page">

            <section class="cardapio-header">
                <h1>Cardápio</h1>
                <h2>Segunda 21/03</h2>
            </section>

            <section class="content">

                <div class="prato">
                    <h1>Prato Principal</h1>
                </div>
                <div class="prato">
                    <span>Guarnição</h1>

                        <select class="select-prato">
                            <option value="a">das</option>
                            <option value="a">das</option>
                            <option value="a">das</option>
                        </select>
                </div>

                <div class="prato">
                    <span>Guarnição</span>
                </div>
                <div class="prato">
                    <span>Batata</span>
                </div>

                <div class="prato">
                    <span>Salada I</span>
                </div>
                <div class="prato">
                    <span>Batata</span>
                </div>

                <div class="prato">
                    <span>Salada II</span>
                </div>
                <div class="prato">
                    <span>Batata</span>
                </div>

                <div class="prato">
                    <span>Sobremesa</span>
                </div>
                <div class="prato">
                    <span>Batata</span>
                </div>

            </section>

            <footer>

                <button>SALVAR</button>

                <div class="cancelar">
                    <input type="checkbox" />
                    <span>Cancelar almoço</span>
                </div>

            </footer>


        </div>

        <div class="page">

            <section class="cardapio-header">
                <h1>Cardápio</h1>
                <h2>Segunda 22/03</h2>
            </section>

            <section class="content">

                <div class="prato">
                    <h1>Prato Principal</h1>
                </div>
                <div class="prato">
                    <span>Guarnição</h1>

                        <select class="select-prato">
                            <option value="a">das</option>
                            <option value="a">das</option>
                            <option value="a">das</option>
                        </select>
                </div>

                <div class="prato">
                    <span>Guarnição</span>
                </div>
                <div class="prato">
                    <span>Batata</span>
                </div>

                <div class="prato">
                    <span>Salada I</span>
                </div>
                <div class="prato">
                    <span>Batata</span>
                </div>

                <div class="prato">
                    <span>Salada II</span>
                </div>
                <div class="prato">
                    <span>Batata</span>
                </div>

                <div class="prato">
                    <span>Sobremesa</span>
                </div>
                <div class="prato">
                    <span>Batata</span>
                </div>

            </section>

            <footer>

                <button>SALVAR</button>

                <div class="cancelar">
                    <input type="checkbox" />
                    <span>Cancelar almoço</span>
                </div>

            </footer>


        </div>

        <div class="page">

            <section class="cardapio-header">
                <h1>Cardápio</h1>
                <h2>Segunda 18/03</h2>
            </section>

            <section class="content">

                <div class="prato">
                    <h1>Prato Principal</h1>
                </div>
                <div class="prato">
                    <span>Guarnição</h1>

                        <select class="select-prato">
                            <option value="a">das</option>
                            <option value="a">das</option>
                            <option value="a">das</option>
                        </select>
                </div>

                <div class="prato">
                    <span>Guarnição</span>
                </div>
                <div class="prato">
                    <span>Batata</span>
                </div>

                <div class="prato">
                    <span>Salada I</span>
                </div>
                <div class="prato">
                    <span>Batata</span>
                </div>

                <div class="prato">
                    <span>Salada II</span>
                </div>
                <div class="prato">
                    <span>Batata</span>
                </div>

                <div class="prato">
                    <span>Sobremesa</span>
                </div>
                <div class="prato">
                    <span>Batata</span>
                </div>

            </section>

            <footer>

                <button>SALVAR</button>

                <div class="cancelar">
                    <input type="checkbox" />
                    <span>Cancelar almoço</span>
                </div>

            </footer>


        </div>
    </div>
    
    <script src="index.js"></script>
</body>

</html>