
<!doctype html>
<html>
  <head>
  </head>
  <body>
    <form action="/salvarimg" method="POST" enctype="multipart/form-data">
        <input type="file" name="image"/>
        <button type="submit">enviar</button>
    </form>
    
  </body>
</html>
