<form action="/logar" method="POST">
    <label>Login</label>
	<input type="text" name="login">
    <label>Senha</label>
    <input type="text" name="senha">
    <%= validacao %>
    <button type="submit" value="Enviar">Enviar</button>
</form>